services:
  - type: web
    name: project-management-backend
    runtime: node
    rootDir: backend
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5050
      - key: SHEET_ID
        sync: false
