.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: linear-gradient(90deg, #C80F2E, #FF4F70);
  color: white;
  font-family: 'Ariston', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}